@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div id="particles-js" class="w-100 h-100 position-absolute"></div>
<!-- Error Page -->
<div class="error d-flex justify-content-center align-items-center position-relative">
    <div class="container-fluid">
        <div class="col-xs-12 text-center">
            <div class="container-error-404">
                <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                <div class="msg">OH!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">Lo sentimos! La p&aacute;gina no se ha encontrado</h2>
            <a href="/" class="btn-get-started">Regresar al sitio</a>
        </div>
    </div>
</div>
<!-- Error Page -->