@{
    ViewBag.Title = "Dot Digital House";
}

<main id="main">

    @{Html.RenderPartial("_Features");}

    @{Html.RenderPartial("_About");}

    @{Html.RenderPartial("_Services");}

    @{Html.RenderPartial("_CallToAction");}

    @{Html.RenderPartial("_Contact");}

</main>