<!--==========================
      Call To Action Section
    ============================-->
<section id="call-to-action" class="wow fadeIn">
    <div class="parallax-overlay"></div>
    <div class="container text-center">
        <figure class="quote">
            <blockquote class="curly-quotes">
                Tu trabajo va a llenar una gran parte de tu vida, y la única manera de estar realmente satisfecho es hacer lo que crees que es un gran trabajo. Y la única manera de hacer un gran trabajo es amar lo que haces.
            </blockquote>
            <figcaption class="quote-by text-right">— Steve Jobs</figcaption>
        </figure>
    </div>
</section><!-- #call-to-action -->
