<!--==========================
      Services Section
    ============================-->
<section id="services">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <h3>Servicios</h3>
            <p>En Dot Digital House construimos excelentes productos al construir excelentes relaciones.</p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title">Desarrollo Web</h4>
                <p class="description text-justify">Ya sea que sea una empresa de desarrollo inmobiliario, una empresa de publicidad en medios o cualquier tipo de negocio que requiera una presencia en línea, creamos una oferta totalmente personalizada adaptada a sus necesidades. Estamos interesados en conocerlo a usted y a su empresa para poder ofrecerle la mejor solución posible. No todas las soluciones son iguales. No todos los clientes tienen el mismo conjunto de necesidades.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title">Marketing Digital</h4>
                <p class="description text-justify">Con una comprensión profunda del marketing en línea, podemos ayudarlo a identificar áreas geográficas seleccionadas, necesidades especializadas de los consumidores y canales de distribución inusuales que no solo aumentarán su rendimiento, sino que también ampliarán sus márgenes de ganancias.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title">Comercio Digital</h4>
                <p class="description text-justify">Sitios web de comercio electrónico escalables, totalmente integrados y dinámicos que le permiten abrir su negocio y generar ventas en cualquier momento.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title">Desarrollo Apps</h4>
                <p class="description text-justify">Creamos hermosas aplicaciones móviles que involucran a los usuarios, mejoran los flujos de trabajo de su negocio y transforman su organización.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title">Programa de Lealtad</h4>
                <p class="description text-justify">En este mundo competitivo, la lealtad de sus clientes es la principal prioridad. La forma más fácil y económica de construir esa lealtad es a través de su propio programa de lealtad. Le proporcionamos todas las herramientas que necesita para configurar este programa.</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title">Ejecutivo de Cuenta</h4>
                <p class="description text-justify">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>

        </div>

    </div>
</section><!-- #services -->

